* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.top-heder {
  width: 100%;
  height: 47px;
  background: url("../svg/Svg/Bg_Dark2.svg") no-repeat;
  background-color: $bg_color6_head_foot;
}
.login-img,
.registr-img {
  width: 30px;
  position: relative;
  top: 3px;
}
.phone {
  color: $color2;
}
.phone {
  color: $color1;
  span {
    font-weight: 800;
  }
}
.login-top,
.registr {
  color: $white;
}
.top-heder {
  display: flex;
  justify-content: center;
}
.top-conteiner {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.phone-conteiner {
  width: 100%;
}
.top-nav_menu {
  list-style-type: none;
  display: flex;
  height: 100%;
  margin: 0;
  li {
    color: $white;
    padding-right: 50px;
    font-size: 20px;
    height: 100%;
    padding-left: 40px;
    &:not(:last-child) {
      border-right: 2px solid $white;
    }
    a {
      color: $white;
    }
    &:hover {
      background-color: $color1;
      color: $bg_color2;
      cursor: pointer;
    }
  }
}
.nav-heder {
  background-color: $bg_color1;
  height: 35px;
  display: flex;
  align-items: center;
  box-shadow: 2px 4px 7px $bg_color3;
}
.heder-post {
  background: url("../svg/Layer_11.png") no-repeat, url("../svg/Layer_12.png") 100% 0 no-repeat;
  height: 600px;
  .logo-site {
    width: 597px;
    height: 82px;
    padding-top: 25px;
  }
  .heders-h1 h1 {
    padding-top: 70px;
    padding-bottom: 40px;
    text-transform: uppercase;
    color: $bg_color3;
  }
  .heder-list {
    h3 {
      text-transform: uppercase;
      padding: 8px;
      font-size: 22px;
    }
    ul {
      list-style: none;
      li {
        color: $bg_color3;
        position: relative;
        bottom: 3px;
        padding-top: 13px;
        &::before {
          content: "";
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          border-radius: 50%;
          background-color: $bg_color3;
          margin-right: 9px;
          margin-bottom: 5px;
        }
        span {
          color: black;
        }
      }
    }
  }
}
.input-heder {
  margin-top: 40px;
  .point {
    width: 230px;
    height: 35px;
    border: 1px solid $bg_color3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    color: $bg_color3;
  }
}
