.blog-page{
 background-color :$bg_color_body_index;
}
.read-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  h2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    text-align: center;
    color: $bg_color1;
    margin-bottom: 40px;
    background-color: $color1;
  }
}
.main-about {
  .read-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    a{
      color:$white;
      background-color: $bg_color2;
      padding: 8px;
      
    }
      ul{
        width: 100%;
        align-self: baseline;
      }
    
    }
    h4 {
      text-transform: uppercase;
      color: $bg_color1;
      padding-bottom: 20px;
      text-align: center;
    }
    img {
      width: 110px;
      height: 110px;
      margin-bottom: 20px;
    }
  }

