<div class="container-fluid foter-block">
    <div class="container futer-top">
        <div class="row">
            <div class="col-6">
                <div class="foter-payment">
                    <ul>
                        <li><a href="#"><img src="../svg/Payment_systems/visa.svg" alt="visa"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/paypal.svg" alt="payp"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/master_card.svg" alt="master-kar"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/jcb.svg" alt="jcb"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/discover.svg" alt="discont"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/diners-club.svg" alt="diners"></a></li>
                        <li><a href="#"><img src="../svg/Payment_systems/american_express.svg" alt="american"></a></li>
                    </ul>
                </div>
            </div>
            <div class="offset-2 col-3 soc">
                <div class="social">
                    <ul>
                        <li><a href="#"><img src="../svg/Svg/Facebook.svg" alt="Facebook"></a></li>
                        <li><a href="#"><img src="../svg/Svg/Twiter.svg" alt="Twiter"></a></li>
                        <li><a href="#"><img src="../svg/Svg/Pinterest.svg" alt="Pinterest"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid futer-bootom">
    <div class="container list-bootom">
        <div class="row futer-list">
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</li>
                    <li><a href="#">Lorem ipsum sass</li>
                    <li><a href="#">Lorem ipsum sass</li>
                    <li><a href="#">Lorem ipsum sass</li>
                    <li><a href="#">Lorem ipsum sass</li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                    <li><a href="#">Lorem ipsum sass</a></li>
                </ul>
            </div>
        </div>
        <div class="row futer-bot">
            <div class="col-md-12 boot">
                <ul>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                    <li><a href="#">LOREM</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>