<div class="container-fluid top-heder ">
    <div class="container top-conteiner">
        <div class="row phone-conteiner">
            <div class="col-3 phone">Sales toll free:<span>1 (877) 894-0925</span></div>
            <div class="col-4 phone">Support toll free:<span>1 (888) 901-8317</span></div>
            <div class="offset-1 col-2 login"><a href="#" class="login-top">LOGIN <span><img class="login-img"
                            src="../svg/Svg/Login.svg" alt="afsafs"></span></a></div>
            <div class="col-2 chat">
                <a href="#" class="registr"> REGISTRATION <span><img class="registr-img" src="../svg/Svg/Chat.svg"
                            alt="sdf"></span></a></div>
        </div>
    </div>
</div>
<div class="container-fluid nav-heder">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-md-auto ">
                <ul class="top-nav_menu ">
                    <li><a href="../about.html">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">404</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid heder-post">
    <div class="container">
        <div class="heder-logo">
            <div class="col-md-6">
                <div class="logo-site">
                    <a href="#"><img src="../svg/Logo.svg" alt="Logo"></a>
                </div>
                <div class="heders-h1">
                    <h1>Things go Better with Us!</h1>
                </div>
                <div class="heder-list">
                    <h3>What we offer you:</h3>
                    <ul class="list-yor">
                        <li><span>Lorem ipsum, dolor sit amet consectetur</span></li>
                        <li><span>Lorem ipsum, dolor sit amet consectetur</span></li>
                        <li><span>Lorem ipsum, dolor sit amet consectetur</span></li>
                        <li><span>Lorem ipsum, dolor sit amet consectetur</span></li>
                    </ul>
                </div>
                <div class="row input-heder">
                    <div class="col-4 point">Lorem ipsum</div>
                    <div class="col-4 point">Lorem ipsum</div>
                    <div class="col-4 point">Lorem ipsum</div>
                    <div class="col-4 point">Lorem ipsum</div>
                </div>
            </div>
        </div>
    </div>
</div>