<section>
    <div class="bloc-contact">
        <div class="container-fluid">
            <div class="container top-statis">
                <div class="row list-top">
                    <div class="col-md-2 top-contact-p">
                        <p>Welcome, User Test</p>
                    </div>
                    <div class="col-md-10 top-list-contact">
                        <ul class="row">
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">my account</a></li>
                            <li><a href="#">referral program</a></li>
                            <li><a href="#">LogOut</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-top-static">
                            <ul class="row">
                                <li><a href="#">Account type: <span>standard</span></a></li>
                                <li><a href="#">New message: 1</a></li>
                                <li><a href="#">Bonus points:<span>0 $</span> </a></li>
                                <li><a href="#">Discount:<span>useruser@gmail.com</span></a></li>
                                <li><a href="#">Discount:<span>0 % </span> </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>