<section>
    <div class="blog-page">
        <div class="container-fluid">
            <div class="container  main-about">
                <div class="col-12 read-mode">
                    <h2>Essay writing is challenging, difficult and time-consuming</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, sint et cupiditate eius quae
                        fugiat. Quae non quidem debitis quasi totam quam deserunt velit labore. Vel laboriosam sint
                        corporis consectetur.Odit, necessitatibus soluta accusamus in non atque ipsam quasi temporibus
                        unde facere corrupti possimus natus cumque veniam velit vel nobis ullam totam expedita quos ut
                        ab repellendus! Voluptate, impedit velit.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 read-more">
                        <img src="../svg/Svg/Element1.svg" alt="elem">
                        <h4>Lorem ipsum liporis sss Lorem ipsum liporis sss</h4>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto. Deserunt fuga
                            quis laudantium nesciunt. Aliquam ab neque iste, cum odit ut earum dolores esse corporis
                            iure ipsam illum ipsa?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis,
                            architecto.
                        </p>
                        <a href="#">READ MODE &raquo</a>
                    </div>
                    <div class="col-md-3 read-more">
                        <img src="../svg/Svg/Element2.svg" alt="elem">
                        <h4>Lorem ipsum liporis sss Lorem ipsum liporis sss</h4>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto. Deserunt fuga
                            quis laudantium nesciunt. Aliquam ab neque iste, cum odit ut earum dolores esse corporis
                            iure ipsam illum ipsa?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis,
                            architecto. Deserunt fuga
                            quis laudantium nesciunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis et
                            cumque porro, inventore, sit cupiditate corporis, saepe non nesciunt debitis consectetur
                            beatae accusamus excepturi eum quo praesentium animi rerum quibusdam.
                        </p>
                        <a href="#">READ MODE &raquo</a>

                    </div>
                    <div class="col-md-3 read-more">
                        <img src="../svg/Svg/Element3.svg" alt="elem">
                        <h4>Lorem ipsum liporis sss Lorem ipsum liporis sss</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quos minima commodi a amet,
                            quod beatae, repellendus, quo accusamus eos vel fugiat ratione harum quam! Vero tenetur in
                            mollitia impedit!
                            <ul>
                                <li>Lorem isum</li>
                                <li>Lorem isum</li>
                                <li>Lorem isum</li>
                                <li>Lorem isum</li>
                            </ul>
                        </p>
                        <a href="#">READ MODE &raquo</a>
                    </div>
                    <div class="col-md-3 read-more">
                        <img src="../svg/Svg/Element4.svg" alt="elem">
                        <h4>Lorem ipsum liporis sss Lorem ipsum liporis sss</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptatem delectus.
                            Nemo error cum quia quaerat dignissimos aperiam natus porro magni, itaque eum laboriosam,
                            iste amet, doloremque id molestiae labore?Maiores, id nam? Incidunt unde, ipsam voluptatum
                            ratione asperiores ducimus atque ea sint dolore
                            <ul>
                                <li>Lorem ipsum information</li>
                                <li>Lorem ipsum information</li>
                                <li>Lorem ipsum information</li>
                                <li>Lorem ipsum information</li>
                            </ul>
                        </p>

                        <a href="#">READ MODE &raquo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>